body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("/image/pre-register-background.png");
    background-size: cover;
}

.main-container {
    width: 100%;
    height: 100%;
}

.pre-register-message1 {
    padding-top: 3rem;
    font-size: 1.2rem;
    color: #FFF;
    text-align: center;
}

.pre-register-message2 {
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}


.form-content {
    padding-top: 1rem;
    text-align: center;
}

.form-content input {
    border: 1px solid #B9C9CE;
    border-radius:5px;
    padding: 12px 0.8em;
    border-color: #FFF;
    opacity: 0.44;
}

input.color {
    color: #4797BC;
    font-weight: bold;
    width: 100%;
}
input.email::-webkit-input-placeholder {
    color: #828282;
    font-weight: normal;
}
input.email:-ms-input-placeholder {
    color: #828282;
    font-weight: normal;
}
input.email::-moz-placeholder {
    color: #828282;
    font-weight: normal;
}

.send-button {
    margin-top: 10px;
    border-style: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color: #FB0D44;
}

.logo {
    display: block;
    width: 30%;
    margin: 0 auto;
}