@import url('https://fonts.googleapis.com/css?family=Lato');
body,html{
  width: 100%;
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
._hidden{
  display: none;
}
